*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
height: 100vh;
width: 100%;
color: white;
background-color:white;
display: grid;
grid-template-areas: "first first second third"
                     "fourth fifth fifth third" ;
row-gap:10px;
column-gap: 5px;
}

.container .big:nth-child(1){
background-color:black;
border: 3px solid black;
align-items: center;
border-radius: 5px;
grid-area: first;
/* height: 100px; */
/* width: 300px; */
}
.container .big:nth-child(2){
background-color:grey;
border: 3px solid grey;
border-radius: 5px;
grid-area: second;
/* height: 100px; */
/* width: 300px; */
}
.container .big:nth-child(3){
background-color:black;
border: 3px solid black;
border-radius: 5px;
grid-area: third;
}
.container .big:nth-child(4){
background-color:grey;
border: 3px solid grey;
border-radius: 5px;
grid-area:fourth ;
}
.container .big:nth-child(5){
background-color:black;
border: 3px solid black;
border-radius: 5px;
grid-area: fifth;
}
.now{
    font-size: medium;
}
.long .kind{
    display: flex;
    flex-direction: column;
}

.long h3{
    color: white;
}
.container .big .long{
    display: flex;
    flex-direction: row;
}
.long img{
    height: 70px;
    width: 60px;
    border: 3px solid blue;
    border-radius: 50%;
}
